@font-face {
    font-family: OpenSans;
    src: url("/css/font/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 0 40px;
    background-color: #f0f0f0;
    font-family: OpenSans, sans-serif;
    color: #595954;
    /*min-height: 530px;*/
}

form {
    margin: 0;
}

.nav {
    position: relative;
    width: 100%;
    padding: 5px 0;
    border-bottom: #e6e6e6 solid 1px;
    margin-bottom: 10px;
    background-color: white;
}

.element {
    display: flex;
    margin: auto 5px;
}
.element.right {
    margin-left: auto;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

section {
    width: 95%;
    background-color: white;
    font-size: 1em;
    border: #dbdbdb solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto 5px;
}


.text-large {
    font-size: 1.5em;
    font-weight: bold;
}

.text-medium {
    font-size: 1em;
    font-weight: bold;
}

.text-small {
    font-size: 0.8em;
    font-weight: lighter;
}

.text-small-bold {
    font-size: 0.8em;
    font-weight: bold;
}

a {
    color: #595954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #ec1c24;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 18px;
    position: absolute;
    top: -4px;
    left: 2px;
    color: #ec1c24;
}


.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #ec1c24;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);*/
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

button, input[type="submit"] {
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 2px;
    background-color: #ec1c24;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #e21a22;
}

button:active, input[type="submit"]:active {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
}

button:focus, input[type="submit"] {
    border: none;
    outline: none;
}

button:disabled {
    cursor: default;
    background-color: #EF6469;
}

.imageButton {
    background-size: 25px, 25px;
    width: 25px;
    height: 25px;
}

.imageButton:hover {
    cursor: pointer;
}

.imageButton.edit {
    background-image: url('/sysImages/edit.png');
}

.imageButton.edit:hover {
    background-image: url('/sysImages/edit hover.png');
}

.imageButton.delete {
    background-image: url('/sysImages/delete.png');
}

.imageButton.delete:hover {
    background-image: url('/sysImages/delete hover.png');
}

.imageButton.add {
    background-image: url('/sysImages/add.png');
}

.imageButton.add:hover {
    background-image: url('/sysImages/add hover.png');
}

.imageButton.addAttachment {
    background-image: url('/sysImages/add attachment.png');
}

.imageButton.addAttachment:hover {
    background-image: url('/sysImages/add attachment hover.png');
}

.imageButton.download {
    background-image: url('/sysImages/download.png');
}

.imageButton.download:hover {
    background-image: url('/sysImages/download hover.png');
}

.imageButton.search {
    background-image: url('/sysImages/search.png');
}

.imageButton.search:hover {
    background-image: url('/sysImages/search hover.png');
}

.imageButton.email {
    background-image: url('/sysImages/email.png');
}

.imageButton.email:hover {
    background-image: url('/sysImages/email hover.png');
}


input[type="text"], input[type="email"], input[type="date"], input[type="url"], select {
    /*width: 240px;*/
    width: 100%;
    padding: 5px 10px;
    font-family: OpenSans, sans-serif;
    color: #595954;
    border: #dbdbdb solid 1px;
    border-radius: 1px;
    background-color: #f0f0f0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="url"]:focus, select:focus {
    outline: none;
}

select {
    /*width: 262px;*/
    width: 100%;
}

input[type='file'].hidden
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    filter: Alpha(Opacity=0);
}
img.fileDownload
{
    height: 100px;
    width: 100px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

div.hiddenFileInputContainter
{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}

