@font-face {
    font-family: OpenSans;
    src: url("Font/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

form {
    margin: 0;
}

nav {
    width: 100%;
    padding: 0 5%;
    min-height: 70px;
    border-bottom: #e6e6e6 solid 1px;
    margin-bottom: 10px;
    background-color: white;
}

.container {
    width: 90%;
    margin: auto;
}

section {
    width: 100%;
    background-color: white;
    color: #595954;
    font-family: OpenSans;
    font-size: 1em;
    border: #dbdbdb solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.jlab-row {
    width: 100%;
    height: auto;
    display: flex;
}

div[class*="jlab-cell-"] {
    display: inline-block;
    box-sizing: border-box;
    margin: auto 0;
    margin-right: 10px;
}

/*
.jlab-cell-1 {
    width: 8.333333%;
}

.jlab-cell-2 {
    width: 16.666667%;
}

.jlab-cell-3 {
    width: 25%;
}

.jlab-cell-4 {
    width: 33.333333%;
}

.jlab-cell-5 {
    width: 41.666667%;
}

.jlab-cell-6 {
    width: 50%;
}

.jlab-cell-7 {
    width: 58.333333%;
}

.jlab-cell-8 {
    width: 66.666667%;
}

.jlab-cell-9 {
    width: 75%;
}

.jlab-cell-10 {
    width: 83.333333%;
}

.jlab-cell-11 {
    width: 91.666667%;
}

.jlab-cell-12 {
    width: 100%;
}*/


.text-large {
    font-size: 1.5em;
    font-weight: bold;
}

.text-medium {
    font-size: 1em;
    font-weight: bold;
}

.text-small {
    font-size: 0.8em;
    font-weight: lighter;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
}

[class*="btn-link"]:hover {
    text-decoration: none;
}