@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Ubuntu', sans-serif;
    color: #595954;
    /*min-height: 530px;*/
}

form {
    margin: 0;
}

.nav {
    position: relative;
    width: 100%;
    padding: 5px 0;
    border-bottom: #e6e6e6 solid 1px;
    margin-bottom: 10px;
    background-color: white;
}

a {
    color: #595954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.element {
    display: flex;
    margin: auto 10px;
}
.element.right {
    margin-left: auto;
}

.element > a {
    position: relative;
    color: #595954;
    text-decoration: none;
}

.element > a:hover {
    color: #595954;
}

.element > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #595954;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.element > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.container, .container-80 {
    min-height: calc(100vh - 96px);
    margin: auto auto 20px;
}

.container.login, .container-80.login {
    margin-top: 30%;
}

.container {
    width: 90%;
}

.container-80 {
    width: 80%;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-bottom: #e6e6e6 solid 1px;
    background-color: white;
}

.container1 {
    width: 90%;
    margin: auto;
}

section {
    /*width: 95%;*/
    background-color: white;
    font-size: 1em;
    border: #dbdbdb solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto 5px;
}


.text-large {
    font-size: 1.5em;
    font-weight: bold;
}

.text-medium {
    font-size: 1em;
    font-weight: bold;
}

.text-small {
    font-size: 0.8em;
    font-weight: lighter;
}

.text-small-bold {
    font-size: 0.8em;
    font-weight: bold;
}


label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #ec1c24;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 18px;
    position: absolute;
    top: -4px;
    left: 2px;
    color: #ec1c24;
}


.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #ec1c24;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);*/
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

button, input[type="submit"] {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 2px;
    background-color: #ec1c24;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #e21a22;
}

button:active, input[type="submit"]:active {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
}

button:focus, input[type="submit"] {
    border: none;
    outline: none;
}

button:disabled {
    cursor: default;
    background-color: #EF6469;
}

.imageButton {
    background-size: 20px, 20px;
    width: 20px;
    height: 20px;
}

.imageButton:hover {
    cursor: pointer;
}

.imageButton.edit {
    background-image: url('../sysImages/edit.png');
}

.imageButton.edit:hover {
    background-image: url('../sysImages/edit hover.png');
}

.imageButton.delete {
    background-image: url('../sysImages/delete.png');
}

.imageButton.delete:hover {
    background-image: url('../sysImages/delete hover.png');
}

.imageButton.add {
    background-image: url('../sysImages/add.png');
}

.imageButton.add:hover {
    background-image: url('../sysImages/add hover.png');
}

.imageButton.addAttachment {
    background-image: url('../sysImages/add attachment.png');
}

.imageButton.addAttachment:hover {
    background-image: url('../sysImages/add attachment hover.png');
}

.imageButton.download {
    background-image: url('../sysImages/download.png');
}

.imageButton.download:hover {
    background-image: url('../sysImages/download hover.png');
}

.imageButton.search {
    background-image: url('../sysImages/search.png');
}

.imageButton.search:hover {
    background-image: url('../sysImages/search hover.png');
}

.imageButton.email {
    background-image: url('../sysImages/email.png');
}

.imageButton.email:hover {
    background-image: url('../sysImages/email hover.png');
}

.imageButton.upload {
    background-image: url('../sysImages/upload.png');
}

.imageButton.upload:hover {
    background-image: url('../sysImages/upload hover.png');
}

.imageButton.help {
    background-image: url('../sysImages/help.png');
}

.imageButton.help:hover {
    background-image: url('../sysImages/help hover.png');
}


input[type="text"], input[type="email"], input[type="date"], input[type="url"], input[type="password"], select, textarea {
    /*width: 240px;*/
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #595954;
    border: #dbdbdb solid 1px;
    border-radius: 1px;
    background-color: #f0f0f0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    /*outline: none;*/
    outline-color: #ec1c24;
}


textarea {
    resize: none;
}


hr {
    width: 90%;
    background-color: rgba(89, 89, 84, 0.5);
}

img.fileDownload
{
    width: 100%;
}

.imageBox
{
    position: relative;
    height: 400px;
    width: 100%;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}