.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #595954;
    background-color: white;
    font-size: 1em;
    padding: 8px 16px;
    border: #dbdbdb solid 1px;
    border-radius: 5px;

    float: left;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

ul.pagination li a.active {
    color: white;
    background-color: #ec1c24;
}

ul.pagination li a:hover:not(.active) {
    color: white;
    background-color: #ec1c24;
}